<div class="column">
  <div class="card">
  <h4 class= "title is-4 ml-4 mt-4" >  <%=  customer.name %> </h4>
    <% if customer.image.present?%>
      <div class="card-image">
        <figure class="image is-1by1">
          <%= image_tag(customer.image, alt: customer.name)%>
        </figure>
      </div>
    <% end %>

    <div class="card-content">

      <br>
      <p><%= customer.notes %></p><br>

      <p><%=  customer.phone %> </p> <br>
      <% if customer.email.present? %>
        <p><%=  customer.email %> </p>
      <% else %>
        <br>

      <% end %>

    </div>
    <footer class="card-footer">
    </footer>


  </div>
</div>

